//Message module
//Background image added inline so that it can be easily manipulated with the backend
section.m-Message(style="background-image:url(images/placeholder.png);")
  .container
    .row
      .col-xs-12
        header.m-Message-header
          h1.m-Message-heading Message Heading Here
          h2.m-Message-subheading Message Subheading Here
        .m-Message-body
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit do eiusmod tempor incididunt.
        footer.m-Message-footer
          a.m-Button(href="javascript:;") Button
          a.m-Button(href="javascript:;") Button
